<!DOCTYPE html>
<html lang="{{ locale or 'en' }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% set t = collections.all[0].data[locale or 'en'] %}
    <title>{% if title and title != t.metadata.title %}{{ title }} | {{ t.metadata.title }}{% else %}{{ t.metadata.title }}{% endif %}</title>
    <meta name="description" content="{{ description or t.metadata.description }}" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/favicon.ico" />
    {% if og_image %}
      {% ogImage "./_includes/og-image.og.njk", {
        title: title or t.metadata.title,
        description: description or t.metadata.description,
        type: type or ""
      } %}
    {% else %}
      <meta property="og:image" content="/og-image.webp" />
    {% endif %}
    {% if isProduction %}
    <script defer src="https://cloud.umami.is/script.js" data-website-id="32ce4860-c0eb-4a51-ad5d-907e3e893423"></script>
    {% endif %}
  </head>
  <body>
    <main class="container">
      {{ content | safe }}
    </main>
  </body>
</html>
