.entire-navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    padding: 1.25rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* gap: 0.625rem; */
    /* background: palegreen; */
    max-width: min-content;
}

.menu-button-container {
    display: flex;
    /* padding: 0.625rem; */
    padding: 0 0.625rem 0 0.625rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.25rem;
    border: 3px solid #D7DAD7;
    background: rgba(137, 142, 135, 0.70);
    box-shadow: 0px 4px 10px 0px rgba(32, 32, 32, 0.25);
    backdrop-filter: blur(5px);
}

.menu-button-accessibility {
    padding: 0.625rem 0 0.625rem 0;
    /* background: orangered; */
}

.menu-button {
    display: flex;
    padding: 0.9375rem 0.625rem;
    align-items: flex-start;
    border-radius: 0.625rem;
    width: max-content;
    transition: background 0.3s ease;
}

.menu-button:hover {
    background: rgba(239, 241, 239, 0.35);
    /* backdrop-filter: blur(7.5px); */
}

.menu-text {
    color: #FCFDFC;
    text-align: justify;
    font-family: "Inter";
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project-dropdown-container {
    padding-bottom: 0.625rem;
    /* background: pink; */
}

.project-dropdown {
    display: flex;
    width: 100%;
    height: 17.125rem;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.25rem;
    border: 3px solid #D7DAD7;
    /* background: rgba(137, 142, 135, 0.70); */
    background: #ABAFAA;
    box-shadow: 0px 4px 10px 0px rgba(32, 32, 32, 0.25);
    /* backdrop-filter: blur(25px); */
}

.project-left {
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex-basis: 50%;
    align-self: stretch;
    border-radius: 0.625rem;
    /* background: rgba(239, 241, 239, 0.10);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); */
    overflow: hidden;
    /* backdrop-filter: blur(25px); */
}

.project-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;
}

.project-right-small {
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    flex-basis: 50%;
    align-self: stretch;
    border-radius: 0.625rem;
    /* background: rgba(239, 241, 239, 0.10);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); */
    /* backdrop-filter: blur(25px); */
    overflow: hidden;
}

.dropdown-boxes {
    background: rgba(239, 241, 239, 0.10);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background 0.3s ease;
}

.dropdown-boxes:hover {
    background: rgba(239, 241, 239, 0.35);
    backdrop-filter: blur(10px);
    /* transition: background 0.3s ease; */
}

.project-right-small-images {
    display: flex;
    gap: 0.625rem;
    align-items: flex-start;
    align-self: stretch;
}

.shadow {
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.50);
}

.dropdown-text {
    align-self: stretch;
    color: #FCFDFC;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}