.menu-button-container {
    display: flex;
    padding: 0.625rem;
    align-items: center;
    /* gap: 0.625rem; */
    border-radius: 1.25rem;
    border: 3px solid #D7DAD7;
    background: rgba(137, 142, 135, 0.70);
    box-shadow: 0px 4px 10px 0px rgba(32, 32, 32, 0.25);
    backdrop-filter: blur(5px);
}

.menu-button {
    display: flex;
    padding: 0.9375rem 0.625rem;
    align-items: flex-start;
    border-radius: 0.625rem;
    width: fit-content;
    transition: background 0.3s ease;
}

.menu-button:hover {
    backdrop-filter: blur(7.5px);
    background: rgba(239, 241, 239, 0.35);
}

.menu-text {
    color: #FCFDFC;
    text-align: justify;
    font-family: Inter;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}