@import url(https://fonts.bunny.net/css?family=ibm-plex-mono:400|inter:400);
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fafaf9;
  --secondary: #e7e5e4;
  --foreground: #0c0a09;
  --link: #535251;
  --font-sans: "Inter", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
  --yellow: #ffcd34;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --secondary: #44403c;
    --foreground: #fafaf9;
    --link: #b3b2b1;
    --yellow: #d8ab23;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

a {
  color: var(--link);
  /* text-decoration: underline; */
}

a:hover {
  text-decoration: none;
  color: var(--foreground);
}

a[target="_blank"]:not(:has(img))::after {
  content: " ↗";
  font-family: system-ui, Arial, sans-serif;
  text-decoration: none;
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}
